@model GithubMaster.Models.GitHubViewModel

@{
    ViewBag.Title = "User info";
}

<br />
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>User Name : @Html.DisplayFor(model => model.Username)</th>

            <th>Location : @Html.DisplayFor(model => model.Location)</th>

            <th>Avatar : <img style="width:20px;height:20px" src="@Url.Content(Model.Avatar)" /></th>

        </tr>
    </thead>

</table>
<br />
<h4>Repositeries</h4>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Stargazers Count</th>
            <th>Url</th>
            <th>Description</th>
            <th>Created on</th>
        </tr>

    </thead>
    <tbody>
        @{
            foreach (var repo in Model.RepositoryList)
            {
                <tr>
                    <td>@repo.FullName</td>
                    <td>@repo.StargazersCount</td>
                    <td>@repo.Url</td>
                    <td>@repo.Description</td>
                    <td>@repo.CreatedAt</td>
                </tr>

            }
        }

    </tbody>

</table>
@*<div>
        <div class="headerLabel content">Username :</div>
        <div class="content">@Html.DisplayFor(model => model.Username)</div>
        <div class="headerLabel content">Location :</div>
        <div class="content">@Html.DisplayFor(model => model.Location)</div>
        <div class="headerLabel content">Avatar :</div>
        <div class="content"><img style="width:20px;height:20px" src="@Url.Content(Model.Avatar)" /></div>
    </div>*@
<br />
<br />
<br />
<p>
    @Html.ActionLink("Back to Dashboard", "Index")
</p>
